body{
        border:0;
        margin: 0;
        background-color: white;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./earth\ net.jpg");
}
.nav img{
        margin-top: 3vh;
        margin-left: 1vw;
        height: 8vh;
        width: 20vw;
        float: left;
        border: 0;
        border-radius: 20px;
}
.nav img:hover{
        width: 20vw;
        height: 8vh;
        background-color: #85EBFF;
        border: none;
        border-radius: 20px;
        box-shadow: inset 40vw 0 0 0 #85EBFF;
        transition: 0.5s;
        cursor: pointer;
}
.nav{
        width:100%;
        display: flex;
        
}
.fr{
        width: 300px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        padding: 30px;
        background: rgba(0,0,0,0.5);
        height: auto;
}
.fr h1{
        color: white;
        text-align: center;
        text-transform: uppercase;
}
.fr h1:hover{
        color: #85EBFF;
        cursor: pointer;
}
.fr input[type="text"],.box input[type="password"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid white;
        padding: 14px 10px;
        width: 220px;
        outline: none;
        color: #85EBFF;
        border-radius: 24px;
        transition: 0.25px;
        font-size: 2vh;
}
.fr input[type="date"]{
        border: 0;
        background: white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid white;
        padding: 14px 10px;
        width: 220px;
        outline: none;
        color: orange;
        border-radius: 24px;
        transition: 0.25px;
        font-size: 2vh;
        text-transform: uppercase;   
}
.fr input[type="date"]:hover{
        border-color: #85EBFF;
        width: 270px;
        transition: 0.5s;
}

.fr input[type="password"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid white;
        padding: 14px 10px;
        width: 220px;
        outline: none;
        color: #85EBFF;
        border-radius: 24px;
        transition: 0.25px;
        font-size: 2vh;   
}
.fr input[type="submit"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid white;
        padding: 14px 10px;
        width: 220px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25px;
        cursor: pointer;
        text-transform: uppercase;
}
.fr input[type="text"]:hover{
        border-color: #85EBFF;
        width: 270px;
        transition: 00.5s;
        cursor: pointer;
}
.fr input[type="submit"]:hover{
        background: orange;
        border-color: #85EBFF;
        text-transform: uppercase;
        width: 270px;
        transition: 0.5s;
        font-weight: 700;
}
.fr input[type="password"]:hover{
        border-color: #85EBFF;
        width: 270px;
        transition: 0.5s;
        cursor: pointer;
}
.fr input[type="text"]::placeholder{
        color: orange;
}
.fr input[type="password"]::placeholder{
        color: orange;
}